/* styles */
body {
	min-width: 480px;
	background: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	color: #333333;
	cursor: default;
}

.main_wrapper {
	margin: 0 auto;
	width: 480px;
	background: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

b {
	font-weight: 700;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
h2.title{
	font-size: 24px;
	line-height: 1.4em;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
}
h2.title>span{
	font-size: 30px;
	line-height: 1.1em;
	display: block;
	font-weight: 800;
	color: #306ec7;
}
h2.title.separator:after{
	content: '';
	width: 55px;
	height: 4px;
	background: rgba(255,255,255,0.3);
	display: block;
	margin: 20px auto 0;
}
section{
	padding: 3px 0 0;
}
section>img{
	display: block;
	margin: 0 auto;
}
.gradient_theme{
	background: #ab0068;
	background: -moz-linear-gradient(45deg, #ab0068 0%, #ef7635 100%);
	background: -webkit-linear-gradient(45deg, #ab0068 0%,#ef7635 100%);
	background: linear-gradient(45deg, #ab0068 0%,#ef7635 100%);
}
.gradient_theme .title{
	color: #fff;
}
.gradient_theme .title>span{
	color: #fff;
	font-weight: 700;
}

/*  header   */
.offer_section {
	padding: 0 0 30px;
	background: #f4f4f4;
}
.main_title{
	font-size: 38px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.1em;
	font-weight: 800;
	color: #fff;
	letter-spacing: 4px;
	padding: 14px 0 16px;
	background: #e9622a;
	background: -moz-linear-gradient(top, #e9622a 25%, #ed3034 100%);
	background: -webkit-linear-gradient(top, #e9622a 25%,#ed3034 100%);
	background: linear-gradient(to bottom, #e9622a 25%,#ed3034 100%);
}
.main_title span {
	font-size: 32px;
	letter-spacing: initial;
}
.offer_image{
	position: relative;
}
.main_subtitle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 13px 0;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.05em;
	letter-spacing: 1px;
	text-align: center;
	background: rgba(255,255,255,0.7);
}
.offer_image>img{
	display: block;
}
.offer_image .desc{
	width: 155px;
	height: 73px;
	background: url("novinka.png") 50% 50% no-repeat;
	top: 90px;
	left: 0;
	position: absolute;
	padding: 12px 0 0 17px;
}
.offer_image .desc>p{
	text-transform: uppercase;
	transform: rotate(-7deg);
	font-size: 18px;
	line-height: 1.2em;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}
.offer_image .desc>p>span{
	display: block;
}
.sale{
	position: absolute;
	width: 118px;
	height: 118px;
	text-align: center;
	line-height: 1.2em;
	background: #eb4330;
	font-size: 14px;
	text-transform: uppercase;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -59px;
	border: 5px solid #e4e4e4;
	-webkit-box-shadow: 0 0 0 12px rgba(255,255,255,0.6);
	-moz-box-shadow: 0 0 0 12px rgba(255,255,255,0.6);
	box-shadow: 0 0 0 12px rgba(255,255,255,0.6);
	color: #fff;
	border-radius: 50%;
	padding-top: 17px;
}
.sale>span{
	font-weight: 800;
	font-size: 36px;
	line-height: 1.1em;
	letter-spacing: normal;
}

.price{
	position: relative;
}
.price:before{
	display: block;
	content: '';
	width: 100%;
	height: 21px;
	background: url("price_shadow.png") center top no-repeat;
	position: absolute;
	bottom: -21px;
	left: 0;
}
.price .item{
	width: 50%;
	float: left;
	padding: 6px 0;
	font-weight: 500;
	font-size: 14px;
}
.price .item.old{
	background: #fff;
	text-align: right;
	padding-right: 90px;
}
.price .item.new{
	background: #306ec7;
	color: #fff;
	padding-left: 90px;
}
.price .item>span{
	font-size: 28px;
	line-height: 1.1em;
}
.price .item>small{
	font-size: 22px;
	text-transform: uppercase;
}
.price .item.old>span{
	text-decoration: line-through;
}
.price .item.new>span,
.price .item.new>small{
	font-weight: 800;
}
.offer_section .bull{
	padding: 25px 0 20px;
	background: #fff;
}
.offer_section .bull>li{
	width: 33.3%;
	float: left;
	text-align: center;
	padding: 100px 10px 0;
	line-height: 1.3em;
}
.offer_section .bull>li:nth-child(1){
	background: url("doska-10.png") 50% 10px no-repeat;
}
.offer_section .bull>li:nth-child(2){
	margin-top: 30px;
	background: url("doska-11.png") 50% 0 no-repeat;
}
.offer_section .bull>li:nth-child(3){
	background: url("doska-12.png") 50% 10px no-repeat;
}

.timer{
	padding: 20px 80px 0;
}
.timer h3{
	text-align: center;
	margin: 0 0 8px;
	font-weight: 400;
}
.timer .timer_item{
	width: 33.3%;
	float: left;
}
.timer_item .count_block{
	width: 70px;
	margin: 0 auto;
	position: relative;
	border-radius: 6px;
}
.timer_item .count_block:after{
	content: ':';
	font-size: 40px;
	line-height: 1em;
	position: absolute;
	right: -23px;
	top: -2px;
}
.timer_item:last-child .count_block:after{
	display: none;
}
.count_block .count{
	text-align: center;
	font-size: 36px;
	line-height: 1.05em;
	font-weight: 800;
	color: #fa5b18;
	background: #fff;
	padding: 4px 0;
	border-radius: 6px;
}
.count_block .text{
	font-size: 14px;
	line-height: 1.3em;
	text-align: center;
	margin: 5px 0 0;
}


.m1-form{
	margin-top: 20px;
	padding: 0 50px;
}
.m1-form input{
	width: 100%;
	display: block;
	font-family: 'Open Sans', sans-serif;
	border: #bcbcbc 1px solid;
	background: #fff;
	font-size: 18px;
	margin-bottom: 10px;
	height: 74px;
	border-radius: 40px;
	text-align: center;
	font-weight: 500;
	color: #222;
}
.m1-form .button-m{
	margin-top: 0;
}
.m1-form ::-webkit-input-placeholder {
	color: #222;
}
.m1-form ::-moz-placeholder {
	color: #222;
}
.m1-form :-moz-placeholder {
	color: #222;
}
.m1-form :-ms-input-placeholder {
	color: #222;
}
.m1-form :focus::-webkit-input-placeholder {
	color: transparent;
}
.m1-form :focus::-moz-placeholder {
	color: transparent;
}
.m1-form :focus:-moz-placeholder {
	color: transparent;
}
.m1-form :focus:-ms-input-placeholder {
	color: transparent;
}


/* button */
.button-m{
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #fff;
	letter-spacing: 2px;
	margin: 0 auto;
	text-transform: uppercase;
	height: 80px;
	width: 380px;
	display: block;
	border-radius: 40px;
	line-height: 80px;
	text-align: center;
	font-size: 26px;
	position: relative;
	background: #e9622a;
	background: -moz-linear-gradient(top, #e9622a 10%, #ed3034 100%);
	background: -webkit-linear-gradient(top, #e9622a 10%,#ed3034 100%);
	background: linear-gradient(to bottom, #e9622a 10%,#ed3034 100%);
}
.button-m:active{
	top: 2px;
}

.offer_section .button-m{
	margin: 20px auto 0;
}

.offer_section .products_count{
	text-align: center;
	margin: 20px 0 0;
	font-size: 14px;
}
.offer_section .products_count>span{
	background: #306ec7;
	padding: 2px 6px 2px 5px;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	margin: 0 4px;
	font-size: 20px;
}


/*sect_1*/
.sect_1{
	padding: 20px;
}
.video_block{
	width: 100%;
	height: 245px;
	margin: 0 auto;
	overflow: hidden;
}
.video_block iframe{
	width: 100%;
	height: 100%;
}

/*sect_2*/
.sect_2{
	padding-bottom: 0;
}
.sect_2>p{
	padding: 0 20px;
	margin-bottom: 25px;
	text-align: center;
	line-height: 1.8em;
	color: #fff;
}
.sect_2>img{
	margin-bottom: 20px;
}
.sect_2 .info{
	font-weight: 700;
	text-align: center;
	line-height: 1.8em;
	color: #fff;
	padding: 0 0 01px;
	background: #890053;
}

/*sect_3*/
.sect_3{
	padding-bottom: 0;
	background: #f7f7f7;
}
.sect_3 .title{
	font-size: 36px;
	margin-bottom: 0;
}
.sect_3 .title>span{
	font-size: 36px;
}
.list_4{
	font-size: 0;
	letter-spacing: -1px;
}
.list_4>li{
	letter-spacing: normal;
	width: 210px;
	display: inline-block;
	vertical-align: top;
	background: #fff;
	font-size: 16px;
	padding: 0 10px 10px;
	margin: 90px 0 0 20px;
	text-align: center;
	-webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
	box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
	border-radius: 16px;
}
.list_4>li>img{
	display: block;
	margin: -59px auto 15px;
}

.sect_3 .button-m{
	margin-top: 30px;
}
.sect_3>img{
	margin-top: 30px;
}

/*sect_4*/
.sect_4{
	padding-bottom: 30px;
}
.gallery{
	margin-bottom: 30px;
}
.gallery .owl-prev,
.gallery .owl-next{
	position: absolute;
	top: 157px;
	width: 47px;
	height: 47px;
}
.gallery .owl-prev{
	background: #b42986 url("gallery_arrow.png") 0 50% no-repeat;
	border-radius: 0 6px 6px 0;
	left: 0;
}
.gallery .owl-next{
	background: #b42986 url("gallery_arrow.png") 100% 50% no-repeat;
	border-radius: 6px 0 0 6px;
	right: 0;
}

.char_list>li{
	padding: 10px 20px 10px 48px;
	background: url("char_list.png") 20px 50% no-repeat;
	color: #fff;
	text-align: right;
	font-weight: 700;
}
.char_list>li:nth-child(2n){
	padding: 15px 20px 15px 48px;
	background: rgba(0,0,0,0.1) url("char_list.png") 20px 50% no-repeat;
}
.char_list>li>span{
	float: left;
	font-weight: 400;
}

/*sect_5*/
.sect_5 .title{
	font-weight: 700;
}
.sect_5 .title>span{
	color: #fa5b18;
}
.sect_5{
	padding-bottom: 10px;
}
.reviews{
	padding: 0 20px;
}
.rev_item{
	background: #f4f4f4;
	padding: 25px;
	border-radius: 12px;
	margin-bottom: 20px;
}
.rev_item>img{
	display: block;
	margin: 0 auto 15px;
	border-radius: 10px;
}
.rev_item .name{
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 15px;
	background: url("stars_four.png") 50% 100% no-repeat;
	font-size: 16px;
	font-weight: 800;
}
.rev_item.stars .name{
	background: url("stars_all.png") 50% 100% no-repeat;
}
.rev_item .text{
	text-align: center;
	line-height: 1.8em;
}
.reviews .owl-prev,
.reviews .owl-next{
	position: absolute;
	width: 58px;
	height: 58px;
	border-radius: 50%;
	top: 120px;
}
.reviews .owl-prev{
	left: 22px;
}
.reviews .owl-next{
	right: 22px;
}

.reviews_vk {
	padding: 0 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.reviews_vk .total {
	background: #f4f4f4;
	font-size: 13px;
	font-weight: 700;
	color: #2d5984;
	line-height: normal;
	padding: 10px 15px;
}
.reviews_vk .item {
	padding: 25px 0 20px;
	border-bottom: 1px solid #e2e2e2;
}
.reviews_vk .ava {
	float: left;
	width: 50px;
}
.reviews_vk .ava img {
	display: block;
	width: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.reviews_vk .info {
	margin-left: 60px;
}
.reviews_vk .item h4 {
	color: #2d5984;
	font-size: 14px;
	line-height: normal;
	padding-bottom: 5px;
}
.reviews_vk .item p {
	color: #222;
	font-size: 14px;
	line-height: 24px;
}
.reviews_vk .item p img {
	vertical-align: middle;
}
.reviews_vk .detail {
	padding-top: 20px;
}
.reviews_vk .detail li {
	float: left;
	font-size: 12px;
	line-height: normal;
	color: #999;
}
.reviews_vk .detail li.comm {
	color: #2d5984;
	padding-left: 5px;
}
.reviews_vk .detail li.like {
	float: right;
	color: #7193b5;
}
.reviews_vk .detail li.like:before {
	display: inline-block;
	width: 11px;
	height: 9px;
	background: url("like-icon.png") 0 0 no-repeat;
	margin-right: 6px;
	content: '';
}
.reviews_vk img.post {
	display: block;
	margin-top: 10px;
}

/*sect_6*/
.sect_6{
	background: #f4f4f4;
	padding-bottom: 30px;
}
.order_list{
	padding: 0 20px;
}
.order_list>li{
	margin-bottom: 20px;
}
.order_list>li>img{
	float: left;
	border-radius: 50% 50% 50% 0;
}
.order_list>li .text{
	padding: 26px 0 0 190px;
	text-align: right;
}
.order_list .text h4{
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 5px;
	color: #306ec7;
}
.order_list .text p{
	line-height: 1.8em;
}
.order_list>li:nth-child(2n)>img{
	float: right;
}
.order_list>li:nth-child(2n) .text{
	padding: 26px 190px 0 0;
	text-align: left;
}
.order_list>li:nth-child(3) .text{
	padding-top: 12px;
}
.order_info{
	padding: 0 15px 20px;
	width: 440px;
	margin: 50px auto 0;
	border-radius: 12px;
	border: 2px dashed #c3c3c3;
	text-align: center;
}
.order_info:before{
	content: '';
	width: 70px;
	height: 51px;
	background: url("order_icon.png") 50% 50% no-repeat;
	display: block;
	margin: -25px auto 15px;
}

/*offer_bot*/
.offer_bot .products_count{
	background: #fff;
	padding: 12px 0;
}
.offer_bot .timer{
	padding-top: 40px;
}
.garant{
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
}
.garant:before{
	content: '';
	width: 19px;
	height: 16px;
	background: url("garant.png") 50% 50% no-repeat;
	display: inline-block;
	vertical-align: top;
	margin: 4px 8px 0 0;
}


/* footer */
.footer_section {
	padding: 25px 0;
	background: #fff;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.footer_section img {
	display: block;
	margin: 0 auto 10px auto;
}

.footer_section a {
	color: #222;
	display: block;
}

.sect_3 li img{
	width: 114px;
	height: 114px;
	border-radius: 50%;
}